footer#footer
	div#links
		a( href=site.system.url + "members.html" ) Member database
		span |
		a( href=site.system.url + "initiative.html" ) Want to take initialive?
		span |
		a( href="https://medium.com/sandbox" ) Blog
		span |
		a( href=site.system.url + "manifesto.html" ) Manifesto
		span |
		a( href=site.system.url + "bylaws.html" ) Bylaws
		span |
		a( href=site.system.url + "about.html" ) About
		span |
		a( href=site.system.url + "join.html" ) Join
		span |
		a( href=site.system.url + "wiki.html" ) Wiki
		span |
		a( href=site.system.url + "contact.html" ) Contact
	div#copyright
		span © Copyright #{site.system.year} #{site.author.firstname}
script( type="application/ld+json" ).
	{
		"@context": "http://schema.org",
		"@type": "Article",
		"mainEntityOfPage": {
			"@type": "WebPage",
			"@id": "#{page.url}"
		},
		"headline": "#{page.title}",
		"image": {
			"@type": "ImageObject",
			"url": "#{site.system.url}#{page.featuredimg}",
			"height": "696px",
			"width": "696px"
		},
		"datePublished": "#{page.published}",
		"dateModified": "#{page.updated}",
		"author": {
			"@type": "Person",
			"name": "#{site.author.firstname} #{site.author.lastname}",
			"url": "#{site.author.url}"
		},
		"publisher": {
			"@type": "Organization",
			"name": "#{site.identity.title}",
			"url": "#{site.system.url}",
			"logo": {
				"@type": "ImageObject",
				"url": "#{site.identity.logo}",
				"width": "60px",
				"height": "600px"
			}
		},
		"description": "#{page.desc}"
	}
