- const page = { title: 'Sandbox', desc: 'Sandbox community', published: '2017-01-01', url: '/', featuredimg: '/assets/sandbox-logo.svg' }

//- Include the variable file with sandbocers
include ./_sandboxers.pug

doctype html
html
	include ../pug/_header.pug

	body#meet
		main
			a( href=site.system.url )
				img#logo( src=site.system.url + "assets/sandbox-logo.svg" )
			p.intro Click any Sandboxer to read their bio and see links to their projects.


			div.boxies
				each boxie, index in sandboxers
					div.boxie( id='boxie' + index )
						h2= boxie.name
						h3 #{ boxie.hub } - #{ boxie.base }
						img( src='/assets/meet-a-sandboxer/' + boxie.image )
						p.links
							each link in boxie.links
								a( target='_blank' href=link[1] )= link[0]
						p.bio= boxie.bio
						p.backbutton ◀️ Back to overview

	include ../pug/_footer.pug